	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/04/2019 12:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot@") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-magnifying-glass:before { content: "\f100"; }
.flaticon-mail:before { content: "\f101"; }
.flaticon-phone-call:before { content: "\f102"; }
.flaticon-add:before { content: "\f103"; }
.flaticon-menu:before { content: "\f104"; }
.flaticon-mouse:before { content: "\f105"; }
.flaticon-expanding-two-opposite-arrows-diagonal-symbol-of-interface:before { content: "\f106"; }
.flaticon-arrow:before { content: "\f107"; }
.flaticon-interior:before { content: "\f108"; }
.flaticon-slim-right:before { content: "\f109"; }
.flaticon-slim-left:before { content: "\f10a"; }
.flaticon-plant:before { content: "\f10b"; }
.flaticon-lamp:before { content: "\f10c"; }
.flaticon-cactus:before { content: "\f10d"; }
.flaticon-plant-1:before { content: "\f10e"; }
.flaticon-couch:before { content: "\f10f"; }
.flaticon-sofa:before { content: "\f110"; }
.flaticon-drawing:before { content: "\f111"; }
.flaticon-check-box:before { content: "\f112"; }
.flaticon-bookmark:before { content: "\f113"; }
.flaticon-right-quote:before { content: "\f114"; }
.flaticon-house:before { content: "\f115"; }
.flaticon-phone-call-1:before { content: "\f116"; }
.flaticon-envelope:before { content: "\f117"; }
.flaticon-email:before { content: "\f118"; }